NODE_ENV=development
PORT=8050
MONGODB_URI=mongodb+srv://QATegamedos_Dev:Or88PqcQ8SWc7r9WAeAb@qat-dos-egame-pri.mongodb.singapore.nosql.aliyuncs.com/dosFundPoolDB?ssl=false

VAULT_ADDR=https://vault-fpms-aliyun-qat.platform88.me
VAULT_TOKEN=hvs.Y6hhIYkzu9NPidpaXXBAnlya
ENVIRONMENT=LOCAL
